@import '../styles/main.scss';

.Button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;

  &.ButtonPrimary:disabled {
    background-color: $grayish-violet;
    cursor: not-allowed;
  }
}

.ButtonPrimary {
  background-color: $cyan;
  padding: 10px 32px;
  color: $white;
  border: none;
  border-radius: 100px;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: darken($cyan, 6%);
  }
}

.ButtonSecondary {
  color: $white;
  border: none;
  background-color: transparent;
}