@import './colors.scss';

/* PRIMARY */
$color-primary-cyan: $cyan;
$color-primary-dv: $dark-violet;

/* SECONDARY */
$color-secondary: $red;

/* NEUTRAL */
$color-neutral-gray: $gray;
$color-neutral-gv: $grayish-violet;
$color-neutral-vdb: $very-dark-blue;
$color-neutral-vdv: $very-dark-violet;