@import '../styles/main.scss';

.GrayBackgroundContainer {
  position: relative;
  z-index: 1;
  background-color: $grayish-white;
  margin-top: -151px;
  padding-bottom: 40px;

  @include media-breakpoint-up(md) {
    margin-top: -140px;
  }
}