@import '../styles/main.scss';

.NavBar {
  padding: 20px 16px;

  @include media-breakpoint-up(xl) {
    padding: 20px 0;
  }

  .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(md) {
      justify-content: flex-start;
    }
  }
}

.Logo {
  cursor: pointer;
}

.MenuButton {
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.MenuIcon {
  color: $grayish-violet;
}

.Menu {
  z-index: 100;
  position: absolute;
  top: 78px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $dark-violet;
  color: $white;
  padding: 32px 24px;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  width: 60%;

  @include media-breakpoint-up(md) {
    display: none;
  }

  .NavList {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-bottom: 1px solid $gray;
  }

  .NavItem {
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 12px;
    cursor: pointer;
  }
}

.Buttons {
  display: flex;
  flex-flow: column;
  align-items: center;

  .Login {
    margin: 32px 0;
  }
}

.NavigationDesktop {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    margin-right: auto;
    margin-left: 36px;
  }

  .NavListDesktop {
    display: flex;
  }

  .NavItemDesktop {
    cursor: pointer;
    font-weight: 700;
    color: $grayish-violet;
    transition: all 0.2s ease-out;

    &:not(:last-child) {
      margin-right: 32px;
    }

    &:hover {
      color: darken($grayish-violet, 32%);
    }
  }
}

.ButtonsDesktop {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  .LoginDesktop {
    font-weight: 700;
    margin-right: 32px;
    color: $grayish-violet;
    transition: all 0.2s ease-out;

    &:hover {
      color: darken($grayish-violet, 32%);
    }
  }
}