@import '../styles/main.scss';

.Wrapper {
  transform: translateY(120px);
}

.ShortURLOutput {
  padding: 0 16px;
}

.ShortURLList {
  display: flex;
  flex-flow: column;
}

.ShortURLItem {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}